*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/music.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.btn{
    font-size: 15px;
    padding: 15px 10px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    top: 400px;
    left: 260px;
    width: 10%;
    background: #004fff;
    cursor: pointer;
    text-decoration: none;
}
.photos p{
    font-size: 60px;
    font-weight: 200;
}